*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.testimonial1{
    background-color: hsl(263, 55%, 52%);
    color: white;
}

.testimonial2{
    
    background-color: hsl(217, 19%, 35%);
}

.testimonial3{
    background-color: hsl(0, 0%, 100%);
}
.testimonial3, .testimonial2, .testimonial1, .testimonial4, .testimonial5{
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

img{
    border-radius: 50%;
}

.testimonial4{
    background-color: hsl(219, 29%, 14%);
    color: white;
}
.flex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 25%;
}
.position{
    color: hsl(0, 0%, 81%);
    font-weight: 500;
    font-size: 15px;
}
.name{
    color: hsl(0, 0%, 100%);
    font-weight: 600;
    font-size: 15px;
}